body {
    font-family: 'Roboto', sans-serif;
}

header {
    font-family: 'Playfair Display', serif;
    background: url(img/1.jpg) center center; 
    text-align: center;
    background-size: cover;
    width: 100%;
    height: 540px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    /* filter: brightness(75%); */
}

h3 {
    font-family: 'Roboto', sans-serif;
    color: #fafafa;
}

.portada h1 {
    font-size: 72px;
    color: #fafafa;
}

.main-content {
    display: flex;
}