header {
    width: 100%;
    height: 540px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

header::before {
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background: url(img/1.jpg) center center;
    background-size: cover;
    filter: brightness(60%);
}

.portada__title {
    font-family: 'Playfair Display', serif;
    text-align: center;
    position: relative;
    color: #fafafa;
    font-size: 72px;
    font-family:  'Roboto Slab', serif;
}

.portada__subtitle {
    font-family: 'Roboto', sans-serif;
    color: #fafafa;
    text-align: center;
    position: relative;
}

.main-content {
    display: flex;
    flex-wrap: wrap;
    text-align: ce;
}

.main-content__items {
    flex-basis: 29%;
    flex-wrap: wrap;
    text-align: center;
    margin-top: 60px;
    font-family: 'Roboto', sans-serif;
    border: 2px solid #1C6EA4;
    border-radius: 40px;
    margin: 20px;
}

.main-content__title--green {
    color: #26b75c;
    font-size: 18px;
}

.main-content__botton--green {
    font-size: 18px;
    color: #fafafa;
    background-color: #26b75c;
}

.main-content__parrafo {
    margin: 10px 66px;
}

.main-content__title--blue {
    color: #008dc6;
    font-size: 18px;
}

.main-content__botton--blue {
    font-size: 18px;
    color: #fafafa;
    background-color: #008dc6;
}

.main-content__title--red {
    color: #e74c3f;
    font-size: 18px;
}

.main-content__botton--red {
    font-size: 18px;
    color: #fafafa;
    background-color: #e74c3f;
}

.main-content__botton {
    font-size: 18px;
    color: #fafafa;
    background-color: #354a5e;
}